<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project_clinic</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project_clinic.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">project_clinic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        <li class="nav-item">

                            <a class="btn btn-light action-button" role="button" href="/Person/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Persons</a>
                        </li>

                        <li class="nav-item">

                            <a class="btn btn-light action-button" role="button" href="/Doctor/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Doctors</a>
                        </li>

                        <li class="nav-item">

                            <a class="btn btn-light action-button" role="button" href="/Patient/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Patient</a>
                        </li>

                        <li class="nav-item">

                            <a class="btn btn-light action-button" role="button" href="/MedicalRecord/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Medical Record</a>
                        </li>

                        <li class="nav-item">

                            <a class="btn btn-light action-button" role="button" href="/Prescription/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Prescription</a>
                        </li>
                        <li class="nav-item">

                            <a class="btn btn-light action-button" role="button" href="/Payment/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Payment</a>
                        </li>
                        <li class="nav-item">

                            <a class="btn btn-light action-button" role="button" href="/Appointment/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Appointment</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - project_clinic - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


	<script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.slim.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>

</body>
</html>-->



<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نظام إدارة العيادة</title>
    <title>@ViewData["Title"] - project_clinic</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project_clinic.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f4f4f4;
        }

        .header {
            background: #007BFF;
            color: white;
            padding: 15px 0;
            text-align: center;
        }

        .nav-link {
            color: white !important;
        }

        .card {
            margin: 20px 0;
        }

        footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <header class="header">
        <h1>نظام إدارة العيادة</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">العيادة</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    <li class="nav-item">

                        <a class="btn btn-light action-button" role="button" href="/Person/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Persons</a>
                    </li>

                    <li class="nav-item">

                        <a class="btn btn-light action-button" role="button" href="/Doctor/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Doctors</a>
                    </li>

                    <li class="nav-item">

                        <a class="btn btn-light action-button" role="button" href="/Patient/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Patient</a>
                    </li>

                    <li class="nav-item">

                        <a class="btn btn-light action-button" role="button" href="/MedicalRecord/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Medical Record</a>
                    </li>

                    <li class="nav-item">

                        <a class="btn btn-light action-button" role="button" href="/Prescription/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Prescription</a>
                    </li>
                    <li class="nav-item">

                        <a class="btn btn-light action-button" role="button" href="/Payment/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Payment</a>
                    </li>
                    <li class="nav-item">

                        <a class="btn btn-light action-button" role="button" href="/Appointment/Index" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Appointment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.slim.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>
