@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-4">
    <h2 class="text-center">مرحبا بكم في النظام</h2>
    <p class="text-center">اختر من القائمة أعلاه لإدارة العيادة.</p>

    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">عدد المرضى</h5>
                    <p class="card-text">3 مرضى مسجلين</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">عدد المواعيد</h5>
                    <p class="card-text">4 مواعيد محددة</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">عدد الأطباء</h5>
                    <p class="card-text">2 أطباء متاحين</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">عدد المستخدمين</h5>
                    <p class="card-text">4 حسابات نشطة</p>
                </div>
            </div>
        </div>
    </div>
</div>