@model project_clinic.Models.Prescription

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicalRecordId" class="control-label"></label>
                <input asp-for="MedicalRecordId" class="form-control" />
                <span asp-validation-for="MedicalRecordId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="MedicationName" class="control-label"></label>
                <input asp-for="MedicationName" class="form-control" />
                <span asp-validation-for="MedicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialInstructions" class="control-label"></label>
                <input asp-for="SpecialInstructions" class="form-control" />
                <span asp-validation-for="SpecialInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
